<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">

      <script src="https://unpkg.com/@popperjs/core@^2.0.0"></script>
      <script src="/javascripts/jquery-3.2.1.min.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
      <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
        crossorigin="anonymous">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
        crossorigin=""/>
    </head>
    <body>
        <section class="container-fluid">
            <div class="row">
              <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">
                <div id="items" class="col-xl-10 col-lg-9 col-md-9">
                  <div class="navbar-collapse collapse" id="navbarColor02">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="/"><i style="margin-right: 15.5px; margin-left: 5px;" class="fas fa-truck"></i> <b>Aplicación para la gestión de contenedores- ASIoT</b></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
            <div id="title"><h3><b>Control de llenado de contenedores:</b></h3></div>
            <div id="map"></div>
            <div class="container text-center mt-3">
                <div id="modal" class="row">
                </div>
            </div>
        </section>
        <script type="module" src="/views/index.js"></script>
    </body>
    <script src="//cdn.jsdelivr.net/npm/pouchdb@7.3.1/dist/pouchdb.min.js"></script>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
    <!--<script type="module" src="/javascripts/index.js"></script>-->
    <footer>
      <div class="footer-content">
        <h3>Aplicación para la gestión de las basuras © - ASIoT 2023</h3>
        <ul class="socials">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </footer>
    <div id="cookie-notice">
      <p>Este sitio web utiliza cookies para mejorar su experiencia. Al hacer clic en "Aceptar", acepta el uso de cookies.</p>
      <button id="cookie-accept">Aceptar</button>
    </div>
    
</html>
