<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">

      <script src="https://unpkg.com/@popperjs/core@^2.0.0"></script>
      <script src="/javascripts/jquery-3.2.1.min.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
      <script src="/javascripts/index.js"></script>
      <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
        crossorigin="anonymous">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
        crossorigin=""/>
    </head>
    <body>
        <article class="container-fluid">
            <div class="row">
              <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">
                <div id="items" class="col-xl-10 col-lg-9 col-md-9">
                  <div class="navbar-collapse collapse" id="navbarColor02">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="/"><i style="margin-right: 15.5px; margin-left: 5px;" class="fas fa-truck"></i> <b>Aplicaci贸n para la gesti贸n de contenedores- ASIoT</b></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
            <div id="title"><h3><b>Control de llenado de contenedores:</b></h3></div>
            <div id="map"></div>
        </article>
    </body>
    <script src="//cdn.jsdelivr.net/npm/pouchdb@7.3.1/dist/pouchdb.min.js"></script>    
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>

    <script>
      //Este script maneja el mapa y solo el mapa. Y tiene que estar dentro de un html porque si no no reconoce window.
      const map = L.map('map').setView([40.45272, -3.72649], 13);

      const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">Contenedores:</a>'
      }).addTo(map);
      
      function pintarNuevo (objetoJs){
        var marker = L.marker([objectJs.latitude, objectJs.longitude]).addTo(map);
        marker.bindPopup("<b>Ubicaci贸n:" + objectJs.name + " | "+ objectJs.battery +"%"+ "</b><br>Nivel de llenado:"+objectJs.level).openPopup();
        return marker;
      }

      function pintarExistente(objetoJs){
        var marker =  mapMarkers.get(objectJs.id);
        marker.bindPopup("<b>Ubicaci贸n:" + objectJs.name + " | "+ objectJs.battery +"%"+ "</b><br>Nivel de llenado:"+objectJs.level).update();
        return marker;
      }
    
    </script>
</html>
